body {
  font: 15px 'Roboto Condensed';
}

a {
  color: #069;
  text-decoration: none;
}

h1 {
  text-align: center;
}

button {
  background: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 8px #adacac;
  font-size: 13px;
  margin-right: 10px;
  padding: 10px 25px;
  font-weight: bold;
}

.employee {
  /* border: 2px solid transparent; */
  float: left;
  filter: blur(2px) brightness(.5);
  /* transition: filter 1000ms;
  transform: translateX(0); */
}
.employee:hover, .employee.selected {
  filter: none;
}
.employee.selected {
  outline: 3px solid #0080007a;
}

.departments li {
  display: inline;
  margin-right: 10px;
}

.action-bar {
  background-color: #eee;
  font-size: 17px;
  margin: 50px 0;
  padding: 20px;
}

.action-bar input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font: 15px 'Roboto Condensed';
  margin-left: 10px;
  padding: 10px 20px;
  width: 300px;
}
